# Pollution
.DS_Store

# Executable && lib
*.a
a.out
asm
corewar

# Compiled sources
*obj
*.o

# Valgrind folder
asm.dSYM
corewar.dSYM

# Secure malloc tool residues
.sym_logs
*.infected

# VIM
*.swp
